*,
html {
  font-family: "Oxygen", sans-serif; }

body {
  background-color: #f0f0f0;
  color: #333;
  font-size: 15px; }

.button {
  display: inline-block;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em; }
  .button:hover {
    text-decoration: none; }
  .button:active {
    position: relative;
    top: 1px; }

.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em; }

.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em; }

.small {
  font-size: 11px;
  padding: .2em 1em .275em; }

.red {
  color: #f00000; }

/* white */
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
  .white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }
  .white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }

/* orange */
.blue {
  color: #fff;
  background: #287bbc; }
  .blue:hover {
    background: #287bbc; }
  .blue:active {
    color: #fff; }

/* orange */
.inactive {
  color: #fff;
  border: solid 1px #a0a0a0; }
  .inactive:hover {
    background: #e7e7e7; }
  .inactive:active {
    color: #e7e7e7; }

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  cursor: pointer; }

.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #99a1a7;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0px;
  left: 3px;
  font-size: 32px; }

.regular-radio:checked + label {
  background-color: #e9ecee;
  color: #99a1a7;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1); }

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

header {
  height: 80px; }

.navbar-nav {
  float: right; }

.navbar-default {
  background: transparent;
  border-color: transparent; }

.logo {
  font-size: 32px;
  font-weight: bold; }

#precontainer {
  width: 100%;
  background-image: url("../images/textareabg.png");
  background-repeat: repeat;
  float: left; }

#container {
  max-width: 1260px;
  margin: 0 auto; }

#header {
  width: 100%;
  text-align: center;
  margin: 30px 0;
  font-size: 14px; }

h1 {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 20px 0;
  font-weight: normal; }

.onethird {
  width: 420px;
  height: 352px;
  float: left;
  margin: 0;
  padding: 0; }

h2 {
  height: 35px; }

div.wide {
  padding: 20px 0;
  height: 30px; }

.bitly_output {
  margin-top: 50px;
  font-weight: bold; }

.output {
  border: 1px solid #999;
  padding: 20px;
  border-radius: 4px; }

.login-form {
  width: 50%;
  margin-right: auto;
  margin-left: auto; }

.charsleft {
  display: inline-block;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  float: right; }

.minus {
  color: #000; }

label {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold; }

#contentfield {
  display: block;
  width: 100%;
  height: 172px;
  display: block;
  margin: 0;
  padding: 8px;
  resize: none;
  border: 1px solid #a0a0a0; }

#linkedincheck {
  margin-left: 30px; }

.charsleft {
  text-align: right;
  margin-bottom: 5px; }

input.textfield {
  width: 100%;
  display: block;
  margin: 0;
  padding: 8px;
  border: 1px solid #a0a0a0; }

div.fielddiv {
  height: 32px;
  margin-bottom: 15px; }

div.contentdiv {
  height: 183px; }

input[type="radio"] {
  margin-right: 10px; }

.toright {
  text-align: right; }

input.yoururl {
  width: 260px; }

div#banners {
  text-align: center; }

div#banners a img {
  margin: 40px 10px; }

div#footer {
  font-size: 12px;
  text-align: center;
  margin: 10px 0 20px 0; }

hr {
  width: 100%;
  height: 8px;
  background-repeat: repeat-x; }

span.step {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; }

.grad2 {
  width: 100%;
  text-align: right; }

.grad3 {
  width: 420px;
  height: 155px; }

/*# sourceMappingURL=style.css.map */
